<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sourcey.materiallogindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Hotel"
        android:theme="@style/AppTheme.Dark"
        tools:replace="android:label">
        <activity android:name=".MapsDirection"></activity>

        <activity android:name=".InstruksiPembayaran" />
        <activity android:name=".DetailOrderActivity" />

        <activity
            android:name=".TranferActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".BayarActivity" />
        <activity android:name=".KonfirmasiActivity" />
        <activity
            android:name=".PesanActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Staff.MainStaffActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DateRangePickerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ListHotelActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ListKamarActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".DetailHotelActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>